<%= simple_form_for(@precencium) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hora %>
    <%= f.input :observacion %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
