<p id="notice"><%= notice %></p>

<p>
  <strong>Hora:</strong>
  <%= @precencium.hora %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @precencium.observacion %>
</p>

<%= link_to 'Edit', edit_precencium_path(@precencium) %> |
<%= link_to 'Back', precencia_path %>
