<h1>Resumen </h1>

<p id='resumen'>
  <p>Ejecutivo de venta :  <%= current_user.usuario %> </p>
  <p>Tipo Usuario : <%= current_user.tipo_usuario %> </p>
  
  <table class="table table-striped">
    
  <thead>
    <tr>
      <th>N°</th>
      <th>Cliente</th>
      <th>Categoria</th>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th>Persona Contacto de Empresa</th>
      <th>Observacion Precencia</th>
      <th>Pedido Generado</th>
    </tr>
  </thead>    
    
    <tbody>
   <% @resumen_usuario.total_precencia_usuario(current_user).each do |precencia| %>
      <tr>
        <td><%= precencia.id %></td>
        <td><%= precencia.cliente.nombre %></td>
        <td><%= precencia.producto.producto %></td>
        
        <% @resumen_usuario.obtener_producto_categoria(precencia.producto.category_id).each do |cat| %>
           <td><%= cat.nombre %></td>
        <% end %>        
        <td><%= number_to_currency precencia.producto.precio , unit: "S/.", seperator: ",", delimiter: ""  %></td>
        <td><%= precencia.cantidad %></td>
  
        
        <td><%= number_to_currency @resumen_usuario.total_pedido(precencia.producto.precio,precencia.cantidad)   , unit: "S/."  %></td>   
        <td><%= precencia.persona.nombres %></td>
        <td><%= precencia.observacion %></td>
        <td><%= @resumen_usuario.obtener_precencia_pedido(precencia.id) %></td>        
      </tr>
    <% end %>  
    </tbody>
</table>    
  <p>Total de Precencias realizadas : <%= @resumen_usuario.total_precencia_usuario_count(current_user) %> </p>
</p>

