<p id="notice"><%= notice %></p>

<h1>Mostrar Rutas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cliente</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruta.each do |rutum| %>
      <tr>
        <td><%= rutum.fecha %></td>
        <td><%= rutum.usuario_nombre %></td>
        <td><%= rutum.cliente_nombre %></td>
        <td><%= link_to 'Show', rutum %></td>
        <td><%= link_to 'Edit', edit_rutum_path(rutum) %></td>
        <td><%= link_to 'Destroy', rutum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva ruta', new_rutum_path %>
